article {
    width: 100%;
    height: 88vh;
    overflow: auto;
}

p {
    text-align: justify;
    font-weight: 500;
    margin: 1rem 17.5% 0 17.5%;
}

#evco {
    width: 65%;
    margin: 2rem 0 2rem 17.5%;

    border: 1px solid rgb(43, 49, 133);
    border-radius: 5px;
    background-color: rgb(43, 49, 133);
}

#evco > p {
    margin: 2.5rem 3% 0 3%;
    background-color: white;
    border-radius: 5px;
}

#evco > p > b{
    display: flex;
    align-items: center;
    font-size: 15pt;

    padding: 1rem 0;
    border: 1px solid gray;
    border-radius: 5px;
}

#evco > p > b > img {
    width: 30px;
    margin-left: 1rem;
    margin-right: 1rem;
}

ol, ul {
    color: white;
}

ol > li {
    font-weight: bold;
    margin: 1.5rem 0 0 3.2%;
    cursor: pointer;

    display: flex;
}

ul {
    padding-bottom: 1rem;
}

ul > li {
    list-style: none;
    margin: .5rem 5% 0 5%;
    padding-left: .5rem;
    font-weight: 500;
    border-left: 2px solid rgb(114, 209, 18);
}

#l1, #l2, #l3, #l4 {
    display: none;
}

#assinatura {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

@media screen and (max-width: 1000px) {
    #evco {
        width: 80%;
        margin-left: 10%;
    }

    #evco > p > b{
        flex-direction: column;
    }
    
    ol > li {
        margin-left: 9%;
        margin-right: 9%;
        align-items: center;
    }

    p {
        margin: 1rem 10% 0 10%;
    }
    
    ul > li {
        margin-left: 9%;
    }
}